# applicaton-dev.yml
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: "jdbc:mysql://127.0.0.1:3306/switching"
    username: "root"
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: "rltmddn7!"

  jwt:
    secret: "my-very-strong-secret-key-that-is-long-enough-1234567890"

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      javax.persistence.lock.timeout: 3000 # 밀리초 단위, 3초
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: false
        format_sql: false


logging.level:
  org.hibernate.SQL: OFF
  org.hibernate.type.descriptor.sql.BasicBinder: OFF

custom:
  secret:
    name: dev/switching

server:
  port: 8081

springdoc:
  swagger-ui:
    path: /
  api-docs:
    path: /v3/api-docs